<span *ngIf="!isLord">
  <ion-menu menuId="main-menu" contentId="main" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="{{user.photo}}" alt="">
        <ion-label>
            <h2>{{user.nom}}</h2>
            <p>{{user.prenom}}</p>
        </ion-label>
      </div>
      <!-- <div class="action-buttom">
        <ion-button>
          <ion-icon slot="start" name="add"></ion-icon>add Branch
        </ion-button>
      </div> -->
      <ion-list lines="none" class="menu-items" *ngFor="let m of menu">
        <!-- <a routerLink="{{m.route}}" routerLinkActive="active">
          <ion-icon  name="{{m.icon}}" slot="start"></ion-icon>
          <ion-label>{{m.label}}</ion-label>
        </a> -->
        <ion-item routerLink="{{m.route}}" routerLinkActive="active" (click)="change(m)">
          <ion-icon name="{{m.icon}}" slot="start"></ion-icon>
          <ion-label>{{m.label}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</span>