* {
    font-family: lato;
}

.menu-header-bg {
    height: 180px;
    width: 350px;
    background-color: #44440d;
    background:  linear-gradient(90deg, yellow, yellow, 100%);
    box-shadow: 0px 1px 10px rgba(98,140,255,0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid yellow;
        margin-right: 14px;
    }
    h2{
        font-weight: 300;
        color: antiquewhite;
    }
    p{
        font-size: 12px;
        color: #e4e4e4;
        font-weight: 100;
        letter-spacing: 0.4px;
    }

}

.action-buttom{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    ion-button{
        text-transform: capitalize;
        font-weight: 300;
        --background: #44440d;
        --border-raduis: 7px;
        --box-shadow: none;
    }
    ion-icon{
        margin-right: 1px;
    }
}

.menu-items{
    margin:  0px;
    ion-icon{
        margin-right: 20px;
        margin-bottom: 10px;
        float: left;
    }
    a{
        color: #fafaed;
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding-left: 15px;
    }
    ion-item.active{
        border-left: 5px solid;
        color: #44440d;
        padding-left: 15px;
        ion-icon{
            color:#44440d;
        }
    }
    ion-label{
        float: left;
    }
}