<ion-header>
  <ion-toolbar>
    <ion-title>sujet</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-card class="recherche"> 
  <ion-card-content>
    <ion-item>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-item>
  </ion-card-content>
</ion-card>-->
<ion-content> 

<!-- List Full Lines -->
<ion-list *ngFor="let su of list" lines="full">
  <ion-item>
    <ion-card>
      <ion-item>
        <ion-icon name="receipt-outline" slot="start"></ion-icon>
        <ion-label>{{su.sujet.appellation}} </ion-label>
        <ion-button (click)="presentModal(su.sujet)" fill="outline" slot="end">Voir +</ion-button>
      </ion-item>
      <ion-item>
        <ion-card-subtitle>Date Visualiser : {{su.date | date : "MM/dd/yyyy HH:mm"}}</ion-card-subtitle>
     </ion-item>
      <ion-card-content>
        {{su.sujet.appellation}} 
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
</ion-content>
