<ion-app>
  <ion-header >
    <ion-toolbar>
      <ion-title>{{titre}}</ion-title>
      <ion-button slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
      <ion-button slot="end"  (click)="presentPopover($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <app-menu-left (titreEvent)="titreToolbar($event)"></app-menu-left>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>