/* DOES NOT WORK - not specific enough */
.popover-content {
    background: #222;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .popover-content {
    background: #222;
  }
  
  .my-custom-class, ion-button{
    --background: #44440d;
    border: ipx solid yellow;
  }
  ion-toolbar{
    --background: #44440d;
    ion-title{
      color: yellow;
      text-align: center;
    }
  }