.header{
    background-color: aquamarine;
}

.action{
    width: 100%;
    background-color: #44440d ;
    ion-button{
        width: 100%;
        text-align: center;
        --background: #44440d ;
    }

}

/* DOES NOT WORK - not specific enough */
.popover-content {
    background: #222;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .popover-content ion-button {
    background: #44440d;
  }

  .my-custom-class {
    --background: #222;
  }