<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <!-- <ion-buttons slot="end">
      <ion-button routerLink="/login">Connexion</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Creer votre Compte</h1>

  <form id="form" [formGroup]="personneForm">
    <img *ngIf="imgTitre!=''" class="imgPhoto" src="{{imgTitre}}" height="150px" width="150px">
    <div class="header-content">
        <ion-button class="photoChoisir" (click)="choisirPhoto()"><ion-icon name="camera-sharp"></ion-icon></ion-button>
    </div>
    
    <ion-item class="ion-margin-bottom" >
      <ion-input  type="text" placeholder="nom" formControlName="nom"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="prenom" formControlName="prenom"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="ville" formControlName="ville"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="pays" formControlName="pays"></ion-input>
    </ion-item>
    
    
    <ion-button expand="block" shape="round" [disabled]="personneForm.invalid" (click)="onSubmit()">creer</ion-button>
  </form>
</ion-content>
