#iframe-wrapper{height: 100%; min-height: 100%;}
.scroll{height: 100%;}
.scroll-wrapper{  
     width: 100%;
    height: 500px;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
.scroll-wrapper iframe{  
        width: 100%;
    height: 500px;
}