<ion-header>
  <ion-toolbar>
    <ion-title>aider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
				<img src="./assets/logo.jpeg" />
				<ion-card-header>
          <h1>Nous Contacter</h1>
				</ion-card-header>
        <ion-card-content>Pour plus d'informations, veuillez contacter le numero ci-dessous</ion-card-content>
        <ion-button href="tel:+33500000000">Appellez nous maintenant</ion-button>
			</ion-card>
</ion-content>
