.carde{
    margin-top: 50%;
    width: 100%;
    ion-label{
        text-align: center;
    }
   
}
ion-content{
    
    background: #44440d;
    color: white;
}
ion-list {
    background: #44440d;
    color: white;
    ion-item{
        background: #44440d;
    color: white;
    }
}

.recherche{
    position: absolute;
    width: 100;
}