<ion-header>
  <ion-toolbar>
    <ion-title>sujet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="carde" *ngIf="listeAffiche.length<=0" > 
  <ion-card-content>
    <ion-item>
      <ion-searchbar placeholder="chapitre 1 exercice 1" [(ngModel)]="recherche"></ion-searchbar>
      <ion-button (click)="rechercher()"><ion-icon name="search-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-content>


<!-- List Full Lines -->
<span *ngIf="listeAffiche.length>0">
<ion-card> 
  <ion-card-content>
    <ion-item>
      <ion-searchbar placeholder="chapitre 1 exercice 1" [(ngModel)]="recherche"></ion-searchbar>
      <ion-button (click)="rechercher()"><ion-icon name="search-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
  <ion-list *ngFor="let su of listeAffiche" lines="full">
    <ion-item>
      <ion-card>
        <ion-item>
          <ion-icon name="receipt-outline" slot="start"></ion-icon>
          <ion-label>{{su.appellation}}</ion-label>
          <ion-button (click)="presentModal(su)" fill="outline" slot="end">Voir +</ion-button>
        </ion-item>
        <ion-card-content>
          {{su.appellation}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</span>
</ion-content>
