<ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="true">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            <img src="./assets/slide-1.png"/>
            <h2>Bienvenue sur la plateforme SIRA.</h2>
            <p><b>SIRA</b> est une plateforme dont l’objectif est de permettre aux lycéens et collégiens 
            d’avoir accès à des corrigés, didactiques et exhaustifs, des exercices et des sujets de devoirs donnés dans leurs classes respectives.</p>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="./assets/slide-2.png"/>
          <h2>Pourquoi SIRA?</h2>
          <p>ceux-ci pourraient servir de canaux pour le développement et l’implémentation de techniques 
          didactiques complémentaires au système éducatif traditionnel avec pour objectif d’améliorer à moindre frais le rendement 
          scolaire et universitaire dans ces pays. </p>
        </ion-slide>

        <ion-slide>
          <img src="./assets/slide-4.png"/>
          <h2>Prêt à faire partie de l'aventure ?</h2>
          <p><ion-checkbox color="primary" [(ngModel)]="accepter"></ion-checkbox><a (click)="presentModal()">J'accepte <b>les conditions d'utilisation</b></a></p>
          <ion-button fill="clear" (click)="verifierAccepter()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </ion-app>