<ion-header>
  <ion-toolbar>
    <ion-title>profileUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slidesRef (ionSlideDidChange)="onSlideMoved($event)" [options]="slideOpts">
    <ion-slide>
      <img width="100%" src="./assets/images 3.jpg">
    </ion-slide>
    <ion-slide>
      <img width="100%" src="./assets/img 2.png">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img 1.jpg">
    </ion-slide>
  </ion-slides>

  <ion-card>
				<ion-card-header>
          <h1>THOTH</h1>
				</ion-card-header>
        <ion-card-content>
            TOTH est une initiative dont
             le but est d’améliorer le niveau académique 
             des populations vivant dans les pays en voie de développement par le biais des technologies du numérique.
        </ion-card-content>
  </ion-card>

  <ion-card>
				<ion-card-header>
          <h1>SIRA</h1>
				</ion-card-header>
        <ion-card-content>
            Sira est une plateforme dont 
            l’objectif est de permettre aux lycéens et collégiens 
            d’avoir accès à des corrigés, didactiques et exhaustifs, 
            des exercices et des sujets de devoirs donnés dans leurs 
            classes respectives. 
            Ce faisant, elle vise à faciliter le travail personnel 
            de ces derniers et de là, à améliorer leur niveau scolaire.

        </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="footer">
  <ion-button>Slogan : « Plus loin ensemble !»</ion-button>
</ion-footer>
