<ion-header>
  <ion-toolbar>
    <ion-title>Appelation Sujet : {{sujet.appellation}}</ion-title>
  </ion-toolbar>
</ion-header>
    <img src="{{URL}}{{sujet.lien.split('/')[2]}}">
<ion-content>
  
</ion-content>
