
<ion-header>
  <ion-toolbar>
    <ion-title>profileUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngIf="isActive">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </span>
  <ion-list *ngIf="!isActive" lines="full">
    <ion-item>
      <ion-card>
        <ion-item>
          <ion-label><h2>Mon Profile Personnel</h2></ion-label>
        </ion-item>
        <ion-card-content>
         <ion-list>
           <ion-item>
            <img class="imgPhoto" src="{{person.photo}}" height="150px" width="150px">
           </ion-item>
           <ion-item>
            <b><ion-icon name="person-outline"></ion-icon>Nom <i>: {{person.nom}}</i></b>
           </ion-item>
           <ion-item>
            <b><ion-icon name="person-outline"></ion-icon>Prenom <i>: {{person.prenom}}</i></b>
          </ion-item>
          <ion-item>
            <b><ion-icon name="location-outline"></ion-icon>Ville <i>: {{person.ville}}</i></b>
          </ion-item>
          <ion-item>
            <b><ion-icon name="compass-outline"></ion-icon>Pays <i>: {{person.pays}}</i></b>
          </ion-item>
         </ion-list>
        </ion-card-content>
        <ion-item>
          <ion-button routerLink="/menu/profile-user/update" class="modifier"  slot="end">
            Modifier
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>