ion-toolbar {
    --background: #f5f5f3;
  
    ion-button {
      text-transform: initial;
      font-size: 17px;
    }
  }
  
  ion-content {
    --background: #f5f5f3;
  
    h2 {
      text-align: center;
      font-weight:  bold;
      font-size: 20px;
      color: #010100;
      margin-bottom: 5%;
    }
  
    #form {
      margin-top: 15%;
      padding-left: 30px;
      padding-right: 30px;
      

  
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }
      
      .photoChoisir{
        position: relative;
        background: #010100;
        margin-bottom: 20px;
        margin-left: 40%;
    }
    .imgPhoto{
        border-radius: 50%;
        margin-left: 29%;
        margin-bottom: -20px;
    }
    }
  
    p {
      text-align: center;
      color: #b6b6b6;
      margin-top: 40px;
    }
  }
  
  ion-card{
    width: 100%;
  }
  .imgPhoto{
    border-radius: 50%;
    margin-left: 20%;
}
ion-icon{
  margin-right: 10px;
  size: 30px;
}

.modifier{
  font-size: 15px;
  font-weight: bold;
}